.wrapper{
    background-color: #EFEFEA;
}
.content{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}
.mainHero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.textHero span{
    margin: 0;
}
.skillsHero{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tittleSkills{
    font-size: 2rem;
}
.spanSkills{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.imgSkills{
    max-width: 70px;
    max-height: 70px;
    object-fit: cover;
    border-radius: 10px;
}


