.wrapper{
    background-color: #EDEDE7;
}
.content{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    gap: 1rem;
}
.containerInfoContact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contentInfoContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tittleContact{
    font-size: 2rem;
    margin: 0;
}
.infoContact {
    padding-left: 19%;
    font-size: 1.2em;
    gap: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.infoContact img{
    height: 50px;
    width: 50px;
}
.contentInfoContact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6rem;
}

.linkContact{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 7px;
    background-color: #f5f5f5;
    border: 2px #3f558d solid;
    border-radius: 7px;
    border: ;    gap: 1rem;
    font-size: 1.1em;
}
.linkContact p{
    margin: 0;
}

