.wrapper{
  background-color: #EDEDE7;
}
.content{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainHero{
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
img {
    width: 6rem;
    height: 6rem;
    top: 8.7rem;
    right: 13rem;
}

.imgHero {
  background-image: url(https://avatars.githubusercontent.com/u/113142530?v=4);
  width: 20.5rem;
  height: 20.5rem;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid #00065a;
  animation: formImg 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  margin-top: 1rem;
}
@keyframes formImg {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }

.textHero{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    gap: 1rem;
}
.heroTittle{
    font-size: 4rem;
    margin: 0;
}
.textHero p{
    font-size: 1.4rem;
    margin: 0;
}
.textHero span{
    margin: 0;
}
.textHero span a{
    margin: auto;
    color: #2a385b;
}

@media (max-width: 880px){ 
  .content{
      width: 90%;
  }
  .textHero p{
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
  }
}
@media (max-width: 680px){ 
  .content{
      width: 95%;
  }
  .textHero{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;


}
.heroTittle{
    display: flex;
    font-size: 4rem;
    margin: 0;
}
.textHero p{
    font-size: 1rem;
}
}
@media (max-width: 480px){ 
  .content{
      width: 95%;
  }
}
  


