.wrapper{
    background-color: #EDEDE7;
}
.content{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}
.contentEducation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tittleEducation{
    font-size: 2rem;
}


@media (max-width: 880px){ 
    .content{
        width: 90%;
    }
}
@media (max-width: 680px){ 
    .content{
        width: 95%;
    }
}
@media (max-width: 480px){ 
    .content{
        width: 95%;
    }
}