.contentEducationCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}
.cardEducation{
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.5rem;
    border: 2px solid #c3c6ce;
    transition: 0.3s ease-out;
    overflow: visible;
}
.cardEducation:hover {
    border-color: #3f558d;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
   
.contentCard{
    color: #3f558d;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}
.headerCard h3{
    margin: 0.5em 0;
    font-size: 1.2em;
    font-weight: bold;
}
.footerCard p{
    color: rgb(134, 134, 134);
    margin: .2em 0;
}

@media (max-width: 880px){ 
    .cardEducation{
        border-radius: 20px;
        padding: 1rem;
    }
       
    .contentCard{
        gap: .2em;
    }
    .headerCard h3{
        margin: 0.5em 0;
        font-size: 1em;
        font-weight: bold;
    }
    .footerCard p{
        color: rgb(134, 134, 134);
        margin: .2em 0;
    }
}

@media (max-width: 680px){ 
    .contentEducationCard{
        gap: .7rem;
    }
    .cardEducation{
        padding: .5rem;
    }
}
@media (max-width: 480px){ 
    .contentEducationCard{
        gap: .3rem;
    }
    .cardEducation{
        border-radius: 20px;
        padding: .5rem;
    }
    .contentCard{
        gap: .2em;
    }
}