.wrapper{
    background-color: #2a385b;
    color: #EDEDE7;
}
.content{
    width: 80%;
    margin: auto;
}
.infoFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0 3rem 0;
}
.copyrightFooter{
    font-size: 1.2em;
}
.copyrightFooter p{
    margin: 0;
}

@media (max-width: 880px){ 
    .content{
        width: 90%;
    }
}
@media (max-width: 680px){ 
    .content{
        width: 95%;
    }
}
@media (max-width: 480px){ 
    .content{
        width: 95%;
    }
}