html{
    background-color: #2B3D5B;
    /* hola portfoliov2 */
}
body{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #2B3D5B;
}

#root {
    list-style: none;
    font-size: 1rem;
    text-decoration: none;
    color: #DDDEE5;
    background-color: #2B3D5B;
    font-family: 'Ubuntu', sans-serif; 
    margin: auto;
    width: 100%;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #DDDEE5;
}




